.npm/*
.nvm/*
.gitconfig
.aws/*
.azure/*
.bash_history
.bash_logout
.cache/*
.local
.poshthemes/*
.ssh/*
vs_code_repos/*
nltk_data/*
.local/*
.config/nvim/.netrwhist
.config/nvim/plugin/packer_compiled.lua
